/* Developer: Joseph Muszynski - IS 117 - Spring 2024 */
h1 {
    color: blue;
    text-align: center;
}

h4 {
    color: blue;
    text-align: center;
}

p {
    padding-right: 40%;
}

body {
    background-color: rgba(0, 255, 0, 0.3);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
